<!-- Header with Background Image -->
<header class="bg-dark text-white py-5">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-10 text-center pt-5">
            <h1 class="site-heading"><strong class="d-block">Work in progress</strong></h1>
</header>
